<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Choose from the best{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body id="{% block body_id %}{% endblock %}">

{% block header %}
    <header>
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header col-md-3 col-lg-2">
                    <a class="navbar-brand" href="{{ path('homepage') }}">
                        Choose from the best
                    </a>

                    <button type="button" class="navbar-toggle"
                            data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">

                        {% block header_navigation_links %}
                            <li>
                                <a href="{{ path('homepage') }}">
                                    <i class="fa fa-home" aria-hidden="true"></i> Choose from the best
                                </a>
                            </li>

                            {% if is_granted('ROLE_ADMIN') %}
                                <li>
                                    <a href="{{ path('admin_index') }}">
                                        <i class="fa fa-lock" aria-hidden="true"></i> Admin index
                                    </a>
                                </li>
                            {% endif %}
                        {% endblock %}
                    </ul>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

<div class="container body-container">
    {% block body %}
        <div class="row">
            <div id="main" class="col-sm-9">
                {{ include('default/_flash_messages.html.twig') }}

                {% block main %}{% endblock %}
            </div>

            <div id="sidebar" class="col-sm-3">
                {% block sidebar %}

                {% endblock %}
            </div>
        </div>
    {% endblock %}
</div>

{% block footer %}
    <footer>
        <div class="container">
            <div class="row">
                <div id="footer-copyright" class="col-md-6">
                    <p>&copy; {{ 'now'|date('Y') }} - The Soulwife Project</p>
                    <p>MIT</p>
                </div>
                <div id="footer-resources" class="col-md-6">
                    <p>
                        <a href="https://www.facebook.com/soul.constellation" title="Soulwife Facebook">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="https://soulwife.github.io/" title="Soulwife Blog">
                            <i class="fa fa-rss" aria-hidden="true"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}

</body>
</html>
